@model EczaDepoUygulama.Models.Entity.ilactbl
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ürün Ekle</h2>

<div class="container">
    @using (Html.BeginForm("Ekle", "Urunler", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(x => x.kategorilertbl.kategori)
            @Html.DropDownListFor(x => x.kategori_id, Model.KategoriListesi, "Seçiniz", new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.kategori_id, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.markalartbl.marka)
            @Html.DropDownListFor(x => x.marka_id, Model.MarkaListesi, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.marka_id, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.ilac_adi)
            @Html.TextBoxFor(x => x.ilac_adi, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.ilac_adi, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.barkod_no)
            @Html.TextBoxFor(x => x.barkod_no, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.barkod_no, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.alis_fiyati)
            @Html.TextBoxFor(x => x.alis_fiyati, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.alis_fiyati, "", new { @class = "text-danger" })

        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.satis_fiyati)
            @Html.TextBoxFor(x => x.satis_fiyati, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.satis_fiyati, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.miktari)
            @Html.TextBoxFor(x => x.miktari, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.miktari, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.birimtbl.birim)
            @Html.DropDownListFor(x => x.birim_id, Model.BirimListesi, "Seçiniz", new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.birim_id, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.kdv)
            @Html.TextBoxFor(x => x.kdv, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.kdv, "", new { @class = "text-danger" })

        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.tarih)
            @Html.TextBoxFor(x => x.tarih, new { @class = "form-control", type = "date" })
            @Html.ValidationMessageFor(x => x.tarih, "", new { @class = "text-danger" })

        </div>

        <div><button class="btn btn-success">Ürün Ekle</button></div>

    }
</div>

@section scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {

            $("#kategori_id").change(function () {
                var id = $("#kategori_id").val();
                var markalist = $("#marka_id");

                markalist.empty();
                $.ajax({
                    url: '/Urunler/GetMarka',
                    type: 'POST',
                    dataType: 'json',
                    data: { 'id': id },
                    success: function (data) {
                        $.each(data, function (index, option) {
                            markalist.append('<option value=' + option.Value + '>' + option.Text + '<option')
                        });
                    }
                });
            });

        });
    </script>
}


@section scriptdanger{
    <script src="~/Scripts/ondalik.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    

}